[Desktop Entry]
Encoding=UTF-8
Name=suck_lord_kelvin_cock
Exec=/usr/local/bin/suck_lord_kelvin_cock
Icon=/usr/share/icons/cock.svg
Terminal=true
Type=Application
